<script src="{{- 'swiper-bundle.min.js' | asset_url -}}" defer="defer"></script>
<script src="{{- 'hero-slider.js' | asset_url -}}" defer="defer"></script>

{{- 'swiper-bundle.min.css' | asset_url | stylesheet_tag -}}
{{- 'hero.css' | asset_url | stylesheet_tag -}}

{% assign _section = section.settings %}
{% assign _blocks = section.blocks %}

{% if _blocks.size > 0 %}
  <section class="hero">
    <hero-slider class="swiper hero__slider">
      <div class="swiper-wrapper">      
        {% for block in _blocks %}
          {% assign _block = block.settings %}
          
          {% if _block.image != blank %}
            <div class="swiper-slide" >          
              <div class="page-width">
                <div class="hero__inner">
                  <div class="hero__image">
                    <img src="{{ _block.image | image_url: width: 1024 }}" width="1024" height="1024" loading="lazy" alt="">
                  </div><!-- /.hero__image -->

                  <div data-aos="fade-up" class="hero__content">
                    <div class="hero__content-top">
                      {% if _block.title != blank %}
                        <h1 class="hero__title">{{ _block.title }}</h1>
                      {% endif %}
  
                      {% if _block.sub_title != blank %}
                        <h4 class="hero__sub-title">{{ _block.sub_title }}</h4>
                      {% endif %}
                    </div><!-- /.hero__content-top -->

                    <div class="hero__content-bottom">
                      {% if _block.content != blank %}
                        <div class="hero__entry">
                          <p>{{ _block.content }}</p>
                        </div><!-- /.hero__entry -->
                      {% endif %}

                      <div class="hero__actions">
                        {% if _block.button_title_1 != blank and _block.button_link_1 != blank %}
                          <a href="{{ _block.button_link_1 }}" class="button button--alt hero__button">{{ _block.button_title_1 }}</a>
                        {% endif %}

                        {% if _block.button_title_2 != blank and _block.button_link_2 != blank %}
                          <a href="{{ _block.button_link_2 }}" class="button button--next hero__button">{{ _block.button_title_2 }}</a>
                        {% endif %}
                      </div><!-- /.hero__actions -->
                    </div><!-- /.hero__content-bottom -->
                  </div><!-- /.hero__content -->
                </div><!-- /.hero__inner -->
              </div><!-- /.page-width -->
            </div><!-- /.swiper-slide -->
          {% endif %}
        {% endfor %}
      </div><!-- /.swiper-wrapper -->
  
      {% if _blocks.size > 1 %}
        <div class="swiper-pagination"></div><!-- /.swiper-pagination -->
      {% endif %}
    </hero-slider><!-- /.product-slider -->  
  </section><!-- /.hero -->
{% endif %}

{% schema %}
  {
  "name": "Hero",
  "settings": [],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_title_1",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "LInk"
        },
        {
          "type": "header",
          "content": "Button Secondary"
        },
        {
          "type": "text",
          "id": "button_title_2",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}  
{% endschema %}